# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps


# python 
Models/cocoapi
Models/MaskRCNN
test_pic.py
opencv_viewer.py
align_frame.py
app.py


# image
*.jpg
my_dataset/*
*.png